
.iframe {
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
        height: 400px;
      }
    
      @media (max-width: 480px) {
        width: 350px;
        height: 450px;
      }
}