@import '../../styles/variables.scss';
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &_gap {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-bottom: 16px; //afasta do botão
    }
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    font-size: 22px;
    font-weight: 400;
  }
  
  .input {
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      padding-left: 10px;
    }
  }
  
  .button {
    width: 500px;
    height: 56px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
  }

.forgetPassword{
  margin-left: 340px;
  margin-bottom: 10px; 
  font-size: 14px;
  text-decoration: underline;
  font-size: 16px;
}

.divider {
  width: 500px;
  border: 0;
  border-top: 1px solid black;
  margin: 20px 0; // Ajusta a margem para espaçamento entre os botões
}
  
@media (max-width: 768px) {
  .label {
    font-size: 18px;
  }

  .input,
  .button {
    width: 90%;
    font-size: 16px;
  }

  .forgetPassword {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .label {
    font-size: 16px;
  }

  .input,
  .button {
    width: 300px;
  }

  .forgetPassword {
    margin-left: 0;
    text-align: center;
  }
}